# Quarto
/.quarto/
/_site/
**/*.quarto_ipynb

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*~
*.swp
*.swo

# Project-specific
notebooks/outputs_0_1
